h1 {
    text-align: center;
}

#buttonArea{

    display: flex;
    justify-content: center;
    gap: 20px;
}

#buttonArea button {
    padding: 20px;
    width: 200px;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    font-size: large;

}

#results{
    height: 50vh;
    width: 50%;
    margin: 60px auto;
    display: flex;
    padding: 0;
    border-radius: 5px;

}
#playerArea, #computerArea{
    display: flex;
    flex-direction: column;
}
#playerArea{
    background-color: red;
    flex: 1;
    border-radius: 20px 0 0 20px;

}
#computerArea{
    background-color: blue;
    flex: 1;
    border-radius: 0 20px 20px 0;
}
h2{
    color: white;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    padding: 50px;
    text-wrap: wrap;
}

.image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.score{
    margin-top: auto;
    margin-bottom: 0;
}

img {
    width: 50%;
}