h1 {
    text-align: center;
}

#buttonArea{

    display: flex;
    justify-content: center;
    gap: 20px;
}

#buttonArea button {
    padding: 20px;
    width: 200px;

}

#results{
    width: 800px;
    height: 700px;
    margin: 60px auto;

    display: flex;

}
#playerArea, #computerArea{
    display: flex;
    flex-direction: column;
}
#playerArea{
    background-color: red;
    flex: 1;
}
#computerArea{
    background-color: blue;
    flex: 1;
}
h2{
    color: white;
    margin: 0;
    height: 150px;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 36px;
}

.image {
    display: flex;
    align-items: center;
}

.score{
    margin-top: auto;
    margin-bottom: 0;
}